<section class="our-strengths">
    <h2 class="our-strengths__title">Our Strengths</h2>
    <p class="our-strengths__subtitle">We create functional and highly converting websites.</p>
    <div class="our-strengths__cards cards">
        <article class="cards__item">
            <div class="cards__image-container">
                <img class="cards__image" width = "40" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3 class="strength-card__header">Quality</h3>
            <div></div>
            <p class="strength-card__text">The highest quality is above all. We pay attention to every detail in everything we produce to exceed clients' expectations and to guarantee they leave us inspired and satisfied each time.</p>
        </article>
        <article class="cards__item">
            <div class="cards__image-container">
                <img class="cards__image" width = "40" src="img/gear.svg" alt="Gear">
            </div>
            <h3 class="strength-card__header">Service</h3>
            <div></div>
            <p class="strength-card__text">We focus on growing companies and building brands. Our talented team of experts takes an integrated approach to help clients attract their audiences and generate meaningful results.</p>
        </article>
        <article class="cards__item">
            <div class="cards__image-container">
                <img class="cards__image" width = "40" src="img/rocket.svg" alt="Rocket">
            </div>
            <h3 class="strength-card__header">Innovation</h3>
            <div></div>
            <p class="strength-card__text">We strive for excellence in everything we do staying a step ahead of the ever-changing world through innovative thinking. We always search for new ways to drive more effective results.</p>
        </article>
    </div>
</section>