<section class="advantages">
    <h2 class="advantages__title">Наші переваги</h2>
    <div class="advantages__list">
        <article class="advantages__item">
            <div class="advantages__icon">
                <img class="advantages__image" width="70" src="img/thumb-up.svg" alt="Thumb up">
            </div>
            <h3 class="advantages__subtitle">Якість</h3>
            <p class="advantages__description">Ми доклали максимум зусиль для забезпечення обслуговування преміального
                рівня.</p>
        </article>
        <article class="advantages__item">
            <div class="advantages__icon">
                <img class="advantages__image" width="70" src="img/hair-dryer.svg" alt="Hair dryer">
            </div>
            <h3 class="advantages__subtitle">Професіоналізм</h3>
            <p class="advantages__description">У салоні краси "Nika" працюють лише кваліфіковані майстри. Що не менш
                важливо, наша команда постійно вдосконалюється!</p>
        </article>
        <article class="advantages__item">
            <div class="advantages__icon">
                <img class="advantages__image" width="70" src="img/clock.svg" alt="Clock">
            </div>
            <h3 class="advantages__subtitle">Швидкість</h3>
            <p class="advantages__description">Ми працюємо не тільки якісно, але і швидко, ви навіть не встигнете допити
                свою каву.</p>
        </article>
    </div>
</section>